
*{margin:0;padding:0;box-sizing: border-box;}
body{
	font:12px "宋体","Arial Narrow",HELVETICA;background:#fff;
}
a{
	color:#172c45;text-decoration:none;
}
a:hover{
	color:#cd0200;text-decoration:underline;
}
ul,ol,li{
	list-style:none;
}
img{
	border:0;vertical-align:middle;
}
table{
	border-collapse:collapse;border-spacing:0;
}

/* 主色调 */
.fcolor{color: #9E2036;}
.bgccolor{background-color: #9E2036;}
.loginimg{background: url(./static/img/loginimg.png) no-repeat 100% 100%;background-size: 100% 100%;}
.bgcimg{background: url(./static/img/bgcimg.png) no-repeat 100% 100%;background-size: 100% 100%;}
.bgclinear{background-image: linear-gradient(#9E2036, #EE405E);}
.boxcolor{box-shadow: 0 0 10 #FD5757;}

.red{color: red;background-color: red;border:2px solid red;}
