
html {font-size: 625%; /*100 ÷ 16 × 100% = 625%*/}
/* 设计稿px换算直接/100即可得到rem值。*/ 
    @media all and (min-width:360px) and (max-width:374px) and (orientation:portrait) {
        html { font-size: 703%; }
    }
    @media all and (min-width:375px) and (max-width:383px) and (orientation:portrait) {
        html { font-size: 732.4%; }
    }
    @media all and (min-width:384px) and (max-width:399px) and (orientation:portrait) {
        html { font-size: 750%; }
    }
    @media all and (min-width:400px) and (max-width:413px) and (orientation:portrait) {
        html { font-size: 781.25%; }
    }
    @media all and (min-width:414px) and (max-width:431px) and (orientation:portrait){
        html { font-size: 808.6%; }
    }
    @media all and (min-width:432px) and (max-width:479px) and (orientation:portrait){
        html { font-size: 843.75%; }
    }
/*
公共样式
*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;}
body{font-size:0.1rem;background:#fff;}
a{color:#172c45;text-decoration:none;}
a:hover{color:#cd0200;text-decoration:underline;}
ul,ol,li{list-style:none;}
img{border:0;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
.height{height:calc(100vh);}.width{width: calc(100vw);}

/* 
定位、浮动、隐藏
*/
/* 定位 */
.pon{position:static!important;}
.por{position: relative!important;}
.poa{position: absolute!important;}
.pof{position: fixed!important;}
.pos{position: sticky!important;}
/* 浮动 */
.float-l{float: left!important;}
.float-r{float: right!important;}
/* 清除浮动*/
.clear:after{content:"";display:block;clear:both}
/* 隐藏 */
.none{display: none;}
.hidden{visibility: hidden;}
.opacity{opacity: 0;}
.overflow{overflow: hidden;}
.overflow-x{overflow-x: hidden;}
.overflow-y{overflow-y: hidden;}
.noborder{border:none;}

/* 
字体样式 
*/
/* 字体加粗 */
.f-bold{font-weight: bold;}
/* 字体不换行 */
.f-nowrap{white-space: nowrap;}
/* 首行缩进 */
.f-indent{text-indent: 2em;}
/* 字符间距 */
.f-spacing{letter-spacing: 1em;}

/*
水平对齐 
*/
.t-left{text-align: left;}
.t-center{text-align: center;}
.t-right{text-align:right;}

/* 
垂直对齐
*/
.v-top{vertical-align: top;}
.v-middle{vertical-align: middle;}
.v-bottom{vertical-align: bottom;}

/*
百分比
*/
.w1{width: 10%;}.w2{width: 20%;}.w3{width: 30%;}.w4{width: 40%;}.w5{width: 50%;}
.w6{width: 60%;}.w7{width: 70%;}.w8{width: 80%;}.w9{width: 90%;}.w10{width: 100%;} 
.w16{width: 16%;}.w26{width: 26%;}.w36{width: 36%;}
.w46{width: 46%;}.w56{width: 56%;}.w66{width: 66%;}
.w76{width: 76%;}.w86{width: 86%;}.w96{width: 96%;}



/*
变形：旋转、缩放、扭曲、移动及矩阵变形
*/
.transform{transform: rotate | scale | skew | translate |matrix;}
.rotate{transform:rotate(30deg);}.scale{transform:scale(2,2);}
.skew{transform:skew(30deg,10deg);}.translate{transform:translate(100px,20px);}
.matrix{transform:matrix(<number>,<number>,<number>,<number>,<number>,<number>);}
/* 改变元素基点 */
.origin{transform-origin: x-axis y-axis z-axis;}
/* 过渡用时 */
.ttion{
    -moz-transition: all .2s;-webkit-transition: all .2s;
    -o-transition: all .2s;transition: all .2s!important;
}

/* 
元素占比
*/
/* flex{flex-grow flex-shrink flex-basis}元素：放大比例 缩小比例 分配多余空间 */
.f1{flex: 1;}.f2{flex: 2;}.f3{flex: 3;}.f4{flex: 4;}.f5{flex: 5;}
.f6{flex: 6;}.f7{flex: 7;}.f8{flex: 8;}.f9{flex: 9;}
.f10{flex:0 0 10%}.f20{flex: 0 0 20%;}.f25{flex: 0 0 25%;}
.f33{flex: 0 0 33.3%;}.f50{flex: 0 0 50%;}.f100{flex: 0 0 100%;}

/* 
盒子类型 
*/
.block{display: block!important;}
.blocks{display: inline-block!important;}
.boxing{box-sizing: border-box!important;}

/* 
弹性盒
*/
.flex{display: box;display: -webkit-box;
    display: -moz-box;display: -ms-flexbox;
    display: -webkit-flex;display:flex!important;}
.F-xy{display: flex!important;justify-content: center!important;align-items: center!important;}

/* 
弹性盒换行排序
*/
.F-wrap{display: flex!important;flex-flow: wrap!important;}

/* 
弹性盒垂直排序
*/
.F-column{display: flex!important;flex-flow: column!important;}

/* 
弹性盒X轴排列
*/
.FX-c{display: flex!important;justify-content: center!important;}
.FX-sb{display: flex!important;justify-content: space-between!important;}
.FX-sa{display: flex!important;justify-content: space-around!important;}
.FX-fe{display: flex!important;justify-content: flex-end!important;}

/* 
弹性盒Y轴排列
*/
.FY-c{display: flex!important;align-items: center!important;}
.FY-fe{display: flex!important;align-items: flex-end!important;}
.FY-fs{display: flex!important;align-items: flex-start!important;}
